/* Ваш CSS стиль */

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #F2F1F6;
    min-height: 100vh;
    max-width: 100vw;
}

.title-image {
    width: 100vw;
}

.icon {
    width: calc(100vw / 1284 * 87);
    margin-left: calc(100vw / 1284 * 60);
    margin-right: calc(100vw / 1284 * 33);
    margin-top: calc(100vw / 1284 * 28);
}

.navigation {
    background-color: white;
    width: 90.654vw;
    height: calc(90.654vw / 8 * 4);
    border-radius: calc(100vw / 1284 * 40);
    font-size: calc(100vw / 1284 * 50);
    margin: auto;

}
.interaction {
    background-color: white;
    width: 90.654vw;
    height: calc(90.654vw / 8 * 2);
    border-radius: calc(100vw / 1284 * 40);
    font-size: calc(100vw / 1284 * 50);
    margin: auto;
}
.interaction {
    margin-top: calc(100vw / 1284 * 105);
    margin-bottom: calc(100vw / 1284 * 105);
}
.sigmabot-news-channel {
    background-color: white;
    width: 90.654vw;
    height: calc(90.654vw / 8);
    border-radius: calc(100vw / 1284 * 40);
    font-size: calc(100vw / 1284 * 50);
    margin: auto;

}
/* .sigmabot-news-channel {margin-top: calc(100vw / 1284 * 34);} */

.navigation-block {
    height: calc(90.654vw / 8);
    position: relative;
}

/* Разделение блоков */
.navigation-block:not(:first-child)::before{
    position: absolute;
    top: -calc(100vw / 1284 * 3);
    right:0;
    width: calc(90.654vw - (100vw / 1284 * 197));
    border-top: calc(100vw / 1284 * 2) solid #c6c6c8;
    content:"";
}


.title,
.action {
    display: inline-block;
    cursor: pointer;
}

.title {
    position: absolute;
    top: 50%; /* Положение по вертикали в середине блока */
    left: calc(100vw / 1284 * 197);
    transform: translateY(-50%); /* Сдвиг вверх на половину высоты текста */
}

.action {
    position: absolute;
    top: 50%; /* Положение по вертикали в середине блока */
    /* left: calc(100vw / 1284 * 1077); */
    right: calc(100vw / 1284 * 63);
    transform: translateY(-50%); /* Сдвиг вверх на половину высоты текста */
    color: #C5C4C7;
}

.action-text {
    color: #8A8A8D;
    margin-right: calc(100vw / 1284 * 10);
}

.sigmabot-news {
    font-size: calc(100vw / 1284 * 45);
    margin-left: calc(100vw / 1284 * 120);
    margin-top: calc(100vw / 1284 * 25);
    margin-bottom: calc(100vw / 1284 * 25);
    margin-right: calc(100vw / 1284 * 123);
    color: #85848B;
}



