/* Ваш CSS стиль */

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #F2F1F6;
    min-height: 100vh;
    }

.title-image {
    width: 100%;
}

.icon {
    width: 8.5%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.navigation {
    background-color: white;
    width: 86%;
    border-radius: 15px;
    font-size: 19px;
    margin-top: 50px;
    margin: auto;

}
.navigation {margin-top: 50px;}

.navigation-block {
    padding: 10px;
    position: relative;
}

/* .navigation-block:not(:last-child) {
    border-bottom: 0.1px solid black;
    
} */

.navigation-block:last-child:before{
    position:absolute;
    top: -1px;
    right:0;
    width:50%;
    border-top:0.5px solid #c6c6c8;
    content:"";
}

/* .navigation-block:not(:first-child)::before {
    content: "";
    position: absolute;
    /* left: 10%; */
    /* bottom: 99.5%;
    height: 1%;
    width: 50%;
    background-color: black; */
/* } */

.title,
.chevron-right {
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    cursor: pointer;
    vertical-align: middle;
}

.title::before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title {
    display: inline-flex;
    align-items: center;
}


.chevron-right {
    color: gray;
    text-align: right;
}



h1 {
    margin: 0;
    color: rgb(0, 0, 0);
}
